flows (1).json
[{"id":"5453bd19.c9ace4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6ad451c6.3280f","type":"ui_form","z":"5453bd19.c9ace4","name":"","label":"","group":"51cfba3c.edc984","order":0,"width":0,"height":0,"options":[{"label":"Enter name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":160,"wires":[["224eea01.222dc6","364b7e28.694282"]]},{"id":"224eea01.222dc6","type":"debug","z":"5453bd19.c9ace4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":100,"wires":[]},{"id":"364b7e28.694282","type":"function","z":"5453bd19.c9ace4","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":160,"wires":[["cfc0e440.194a68"]]},{"id":"cfc0e440.194a68","type":"cloudant out","z":"5453bd19.c9ace4","name":"cloudant","cloudant":"","database":"sample","service":"node-red-adlry-2020--cloudant-1597403157934-51555","payonly":true,"operation":"insert","x":580,"y":160,"wires":[]},{"id":"9215b8ad.e05ea8","type":"ui_form","z":"5453bd19.c9ace4","name":"","label":"","group":"d4f75c45.641d6","order":0,"width":0,"height":0,"options":[{"label":"Enter email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":280,"wires":[["30f6e1b8.2ea25e"]]},{"id":"30f6e1b8.2ea25e","type":"function","z":"5453bd19.c9ace4","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":280,"wires":[["1e27c665.b4bf3a"]]},{"id":"1e27c665.b4bf3a","type":"function","z":"5453bd19.c9ace4","name":"","func":"var emailid=global.get('emailid');\nmsg.payload=\"emailid:\"+emailid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":280,"wires":[["fee195e1.2b13d8"]]},{"id":"fee195e1.2b13d8","type":"cloudant in","z":"5453bd19.c9ace4","name":"","cloudant":"","database":"sample","service":"node-red-adlry-2020--cloudant-1597403157934-51555","search":"_idx_","design":"user","index":"user","x":750,"y":280,"wires":[["9f101416.c06be8"]]},{"id":"9f101416.c06be8","type":"function","z":"5453bd19.c9ace4","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesful';\n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":280,"wires":[["1dba2ce1.29c5f3"]]},{"id":"1dba2ce1.29c5f3","type":"ui_text","z":"5453bd19.c9ace4","group":"d4f75c45.641d6","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":280,"wires":[]},{"id":"3f614181.18f09e","type":"ui_form","z":"5453bd19.c9ace4","name":"","label":"","group":"d3e728c0.f57678","order":0,"width":0,"height":0,"options":[{"label":"user input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":380,"wires":[["91ad4e41.fad2b"]]},{"id":"91ad4e41.fad2b","type":"function","z":"5453bd19.c9ace4","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":380,"wires":[["be1c5767.c22278"]]},{"id":"be1c5767.c22278","type":"watson-conversation-v1","z":"5453bd19.c9ace4","name":"","workspaceid":"939b7bbd-e677-4ea7-b423-e216ce8dee81","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/1cb650ba-f7e8-4a5f-be16-b51fb727c23d","timeout":"","optout-learning":false,"x":540,"y":380,"wires":[["5d95953c.323e7c","62273ee0.4d5ae"]]},{"id":"5d95953c.323e7c","type":"debug","z":"5453bd19.c9ace4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":340,"wires":[]},{"id":"62273ee0.4d5ae","type":"function","z":"5453bd19.c9ace4","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":400,"wires":[["9c4e156b.504f68","82dd3ed6.807e8"]]},{"id":"9c4e156b.504f68","type":"ui_text","z":"5453bd19.c9ace4","group":"d3e728c0.f57678","order":1,"width":"6","height":"8","name":"","label":"Bot response","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":400,"wires":[]},{"id":"82dd3ed6.807e8","type":"ui_audio","z":"5453bd19.c9ace4","name":"","group":"d3e728c0.f57678","voice":"","always":"","x":920,"y":460,"wires":[]},{"id":"51cfba3c.edc984","type":"ui_group","z":"","name":"Registeration Form","tab":"ed2740a7.b2d4e","order":1,"disp":true,"width":"6","collapse":false},{"id":"d4f75c45.641d6","type":"ui_group","z":"","name":"Login Form","tab":"93ec3dc3.63186","order":1,"disp":true,"width":"6","collapse":false},{"id":"d3e728c0.f57678","type":"ui_group","z":"","name":"Bot","tab":"e3d23731.e06b18","order":1,"disp":true,"width":"6","collapse":false},{"id":"ed2740a7.b2d4e","type":"ui_tab","z":"","name":"Registeration page","icon":"dashboard","disabled":false,"hidden":false},{"id":"93ec3dc3.63186","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"e3d23731.e06b18","type":"ui_tab","z":"","name":"Costumer","icon":"dashboard","disabled":false,"hidden":false}]